<!-- I got help with this code from Abigail Ezedomwen since we had similar application goals. -->

<!doctype html>
<html>

<head>
  <title>bookMark</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="profile.css">
</head>

<body>
  <section class="container">
    <section class="text-left page-header">
      <h1 id="hide">Welcome Home!  <%= user.local.email %></h1>
      <a href="/logout" class="btn btn-default btn-sm" id="button1">Logout</a>

    </section>
    <section class="level">

      <section class="JournalEntry">
        <h2>Enter a Review</h2>
        <% if (user.local.email) { %>
        <form action="/notes" method="POST">
          <input id = "hide" class="userName" type="text" name="userName" value="<%= user.local.email %>">
          <br>
          <!-- <input class="userName" type="text" name="userName" value="<%= user.local.email %>"> -->
          <label for="noteTitle"> Title, Author:  </label>
          <br>
          <input class="noteTitle" type="text" value="" name="noteTitle">
          <br>
          <label for="noteBody"> Review: </label>
          <br>
          <textarea type="number" class="noteBody" placeholder="write your lil heart out" name="noteBody" value=""></textarea>
          <br>
          <button type="submit">Enter Review</button>
        </form>
        <% } %>
      </section>

      <section class="JournalList">
        <h3>Previous Reviews:</h3>
        <span>  </span>
        <ul class="messages">
          <% for(var i=0; i<notes.length; i++) {%>
          <li class="message">
            <strong><span contenteditable="true" id="JournTitle"> <%= notes[i].title %></span></strong>
            <button data-user="<%= user.local.email %>" class="updateButton">Update Review</button>
            <i data-user="<%= user.local.email %>" class="far fa-trash-alt"></i><br>
            <span contenteditable="true" > <%= notes[i].notebody %></span>
          </li>
          <% } %>
        </ul>
      </section>

    </section>


    <script src="main.js"></script>
    <!-- <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script> -->
</body>

</html>
